html {
    background: url('/static/background.jpg');
    background-size: 100% 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    font-size: 800%;
}

body {
    float: left;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #111;
    text-align: center;
    font-size: 250%;
    line-height: 1vh;
}
h2 {
    color: #111;
    text-align: center;
    font-size: 200%;
    line-height: 1vh;
}


.glow-on-hover {
    float: left;
    font-size: 150%;
	margin: 1vw;
    width: 12.5vw;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    background: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.container {
	margin: 1%;
    width: 31%;
    border: none;
    float: left;
    color: #fff;
    background: rgba(255,255,255, 0.5);
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cont {
    background: #eee;
}
.flat {
	width: 98.6%;
    margin: 0.7%;
}

.small {
    width: 96%;
    margin: 2%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.red {
    background: linear-gradient(to right, #7a2828 0%, #a73737 100%);
}

.green {
    background: linear-gradient(to right, #0c791b 0%, #61d559 100%);
}
