<!DOCTYPE html>
<html lang="en">

<body>
  {% for vm in vms|sort(attribute='name') %}
  <form method="POST">
    <input type="hidden" name="node" value="{{ vm.node }}">
    <input type="hidden" name="vmid" value="{{ vm.vmid }}">
    {% if vm.status == 'running' %}
    <button type="submit" name="action" value="reset" class="glow-on-hover green">{{ vm.name }}</button>
    {% else %}
    <button type="submit" name="action" value="start" class="glow-on-hover red">{{ vm.name }}</button>
    {% endif %}
  </form>
  {% endfor %}
</body>

</html>