<!DOCTYPE html>
<html>
    <link rel="stylesheet" type= "text/css" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <header>
        HOME LAB
    </header>
    <body>
        <div class="container flat cont">
            <h1> Ссылки </h1>
            <div class="container flat flex">
                <button onclick=window.open('http://10.11.12.15:8112/'); class="glow-on-hover" type="button">Торрент</button>
                <button onclick=window.open('http://10.11.12.15:32400/web/index.html#!/'); class="glow-on-hover" type="button">Плеер</button>
                <button onclick=window.open('http://10.11.12.1/dashboard'); class="glow-on-hover" type="button">Роутер</button>
                <button onclick=window.open('http://10.11.12.17'); class="glow-on-hover" type="button">AdGuard</button>
                <button onclick=window.open('https://10.11.12.13:8006/#v1:0:18:4:::::::'); class="glow-on-hover" type="button">Proxmox</button>
            </div>
        </div>

        <div class="container cont">
            <h1> Статус ВМ</h1>
            <h2> (нажми для перезагрузки)</h2>
            <form class="container small" method="post" action="/">
                {% if plex %}
                    <input type="submit" class="glow-on-hover green" value="Plex" name="action1"/>
                {% else %}
                    <input type="submit" class="glow-on-hover red" value="Plex" name="action3"/>
                {% endif %}

                {% if nextcloud %}
                    <input type="submit" class="glow-on-hover green" value="Nextcloud" name="action1"/>
                {% else %}
                    <input type="submit" class="glow-on-hover red" value="Nextcloud" name="action3"/>
                {% endif %}

                {% if adguard %}
                    <input type="submit" class="glow-on-hover green" value="AdGuard" name="action1"/>
                {% else %}
                    <input type="submit" class="glow-on-hover red" value="AdGuard" name="action3"/>
                {% endif %}
            </form>
        </div>

        <div class="container cont">
            <h1> DNS сервера </h1>
            <form class="container small" method="post" action="/">
                <input type="submit" class="glow-on-hover red" value="Провайдера" name="action2"/>
                <input type="submit" class="glow-on-hover green" value="AdGuard" name="action2"/>
            </form>
        </div>
    </body>
</html>
